<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	">

	<!-- EntityManagerFactory should be created only once! -->
	<bean id="entityManagerFactory" class="javax.persistence.Persistence" factory-method="createEntityManagerFactory" destroy-method="close">
		<constructor-arg value="transactions-optional" />
	</bean>

<!-- Bean managed transactions -->


	<!-- ============== DaoBeans for entities in package com.wadpam.ricotta.domain ============ -->
	<bean id="translationDao" class="com.wadpam.ricotta.dao.TranslationDaoBean" autowire="constructor">
		<property name="helper">
         <bean class="com.wadpam.ricotta.dao.GAEHelper" autowire="byName">
            <constructor-arg>
               <value>com.wadpam.ricotta.domain.Translation</value>
            </constructor-arg>
         </bean>
      </property>
   </bean>
	
	<bean id="artifactDao" class="com.wadpam.ricotta.dao.ArtifactDaoBean" autowire="constructor">
		<property name="helper">
         <bean class="com.wadpam.ricotta.dao.GAEHelper" autowire="byName">
            <constructor-arg>
               <value>com.wadpam.ricotta.domain.Artifact</value>
            </constructor-arg>
         </bean>
      </property>
   </bean>
	
	<bean id="tokenArtifactDao" class="com.wadpam.ricotta.dao.TokenArtifactDaoBean" autowire="constructor">
		<property name="helper">
         <bean class="com.wadpam.ricotta.dao.GAEHelper" autowire="byName">
            <constructor-arg>
               <value>com.wadpam.ricotta.domain.TokenArtifact</value>
            </constructor-arg>
         </bean>
      </property>
   </bean>
	
	<bean id="mallDao" class="com.wadpam.ricotta.dao.MallDaoBean" autowire="constructor">
		<property name="helper">
         <bean class="com.wadpam.ricotta.dao.GAEHelper" autowire="byName">
            <constructor-arg>
               <value>com.wadpam.ricotta.domain.Mall</value>
            </constructor-arg>
         </bean>
      </property>
   </bean>
	
	<bean id="languageDao" class="com.wadpam.ricotta.dao.LanguageDaoBean" autowire="constructor">
		<property name="helper">
         <bean class="com.wadpam.ricotta.dao.GAEHelper" autowire="byName">
            <constructor-arg>
               <value>com.wadpam.ricotta.domain.Language</value>
            </constructor-arg>
         </bean>
      </property>
   </bean>
	
	<bean id="projectDao" class="com.wadpam.ricotta.dao.ProjectDaoBean" autowire="constructor">
		<property name="helper">
         <bean class="com.wadpam.ricotta.dao.GAEHelper" autowire="byName">
            <constructor-arg>
               <value>com.wadpam.ricotta.domain.Project</value>
            </constructor-arg>
         </bean>
      </property>
   </bean>
	
	<bean id="tokenDao" class="com.wadpam.ricotta.dao.TokenDaoBean" autowire="constructor">
		<property name="helper">
         <bean class="com.wadpam.ricotta.dao.GAEHelper" autowire="byName">
            <constructor-arg>
               <value>com.wadpam.ricotta.domain.Token</value>
            </constructor-arg>
         </bean>
      </property>
   </bean>
	
	<bean id="versionDao" class="com.wadpam.ricotta.dao.VersionDaoBean" autowire="constructor">
		<property name="helper">
         <bean class="com.wadpam.ricotta.dao.GAEHelper" autowire="byName">
            <constructor-arg>
               <value>com.wadpam.ricotta.domain.Version</value>
            </constructor-arg>
         </bean>
      </property>
   </bean>
	
	<bean id="countryDao" class="com.wadpam.ricotta.dao.CountryDaoBean" autowire="constructor">
		<property name="helper">
         <bean class="com.wadpam.ricotta.dao.GAEHelper" autowire="byName">
            <constructor-arg>
               <value>com.wadpam.ricotta.domain.Country</value>
            </constructor-arg>
         </bean>
      </property>
   </bean>
	
	<bean id="appUserDao" class="com.wadpam.ricotta.dao.AppUserDaoBean" autowire="constructor">
		<property name="helper">
         <bean class="com.wadpam.ricotta.dao.GAEHelper" autowire="byName">
            <constructor-arg>
               <value>com.wadpam.ricotta.domain.AppUser</value>
            </constructor-arg>
         </bean>
      </property>
   </bean>
	
	<bean id="projectLanguageDao" class="com.wadpam.ricotta.dao.ProjectLanguageDaoBean" autowire="constructor">
		<property name="helper">
         <bean class="com.wadpam.ricotta.dao.GAEHelper" autowire="byName">
            <constructor-arg>
               <value>com.wadpam.ricotta.domain.ProjectLanguage</value>
            </constructor-arg>
         </bean>
      </property>
   </bean>
	
	

</beans>