<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	">

<!-- Bean managed transactions -->

	<!-- ============== DaoBeans for entities in package com.wadpam.ricotta.domain ============ -->
	<bean id="projLangDao" 
		class="com.wadpam.ricotta.dao.ProjLangDaoBean">
	</bean>
	<bean id="langDao" 
		class="com.wadpam.ricotta.dao.LangDaoBean">
	</bean>
	<bean id="translationDao" 
		class="com.wadpam.ricotta.dao.TranslationDaoBean">
	</bean>
	<bean id="branchDao" 
		class="com.wadpam.ricotta.dao.BranchDaoBean">
	</bean>
	<bean id="templateDao" 
		class="com.wadpam.ricotta.dao.TemplateDaoBean">
	</bean>
	<bean id="tokenArtifactDao" 
		class="com.wadpam.ricotta.dao.TokenArtifactDaoBean">
	</bean>
	<bean id="projDao" 
		class="com.wadpam.ricotta.dao.ProjDaoBean">
	</bean>
	<bean id="mallDao" 
		class="com.wadpam.ricotta.dao.MallDaoBean">
	</bean>
	<bean id="toknDao" 
		class="com.wadpam.ricotta.dao.ToknDaoBean">
	</bean>
	<bean id="tokenDao" 
		class="com.wadpam.ricotta.dao.TokenDaoBean">
	</bean>
	<bean id="projectLanguageDao" 
		class="com.wadpam.ricotta.dao.ProjectLanguageDaoBean">
	</bean>
	<bean id="subsetToknDao" 
		class="com.wadpam.ricotta.dao.SubsetToknDaoBean">
	</bean>
	<bean id="projUserDao" 
		class="com.wadpam.ricotta.dao.ProjUserDaoBean">
	</bean>
	<bean id="ctxtDao" 
		class="com.wadpam.ricotta.dao.CtxtDaoBean">
	</bean>
	<bean id="transDao" 
		class="com.wadpam.ricotta.dao.TransDaoBean">
	</bean>
	<bean id="artifactDao" 
		class="com.wadpam.ricotta.dao.ArtifactDaoBean">
	</bean>
	<bean id="viewContextDao" 
		class="com.wadpam.ricotta.dao.ViewContextDaoBean">
	</bean>
	<bean id="projectDao" 
		class="com.wadpam.ricotta.dao.ProjectDaoBean">
	</bean>
	<bean id="languageDao" 
		class="com.wadpam.ricotta.dao.LanguageDaoBean">
	</bean>
	<bean id="versionDao" 
		class="com.wadpam.ricotta.dao.VersionDaoBean">
	</bean>
	<bean id="subsetDao" 
		class="com.wadpam.ricotta.dao.SubsetDaoBean">
	</bean>
	<bean id="appUserDao" 
		class="com.wadpam.ricotta.dao.AppUserDaoBean">
	</bean>
	<bean id="projectUserDao" 
		class="com.wadpam.ricotta.dao.ProjectUserDaoBean">
	</bean>
	

</beans>