<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	">

<!-- Bean managed transactions -->

	<!-- ============== DaoBeans for entities in package com.wadpam.ricotta.domain ============ -->
	<bean id="projLangDao" 
		class="com.wadpam.ricotta.dao.ProjLangDaoBean"
                init-method="init">
                <property name="mardaoParentDao" ref="branchDao" />
	</bean>
	<bean id="langDao" 
		class="com.wadpam.ricotta.dao.LangDaoBean"
                init-method="init">
	</bean>
	<bean id="branchDao" 
		class="com.wadpam.ricotta.dao.BranchDaoBean"
                init-method="init">
                <property name="mardaoParentDao" ref="projDao" />
	</bean>
	<bean id="templateDao" 
		class="com.wadpam.ricotta.dao.TemplateDaoBean"
                init-method="init">
	</bean>
	<bean id="projDao" 
		class="com.wadpam.ricotta.dao.ProjDaoBean"
                init-method="init">
	</bean>
	<bean id="toknDao" 
		class="com.wadpam.ricotta.dao.ToknDaoBean"
                init-method="init">
                <property name="mardaoParentDao" ref="branchDao" />
	</bean>
	<bean id="projUserDao" 
		class="com.wadpam.ricotta.dao.ProjUserDaoBean"
                init-method="init">
                <property name="mardaoParentDao" ref="projDao" />
	</bean>
	<bean id="subsetToknDao" 
		class="com.wadpam.ricotta.dao.SubsetToknDaoBean"
                init-method="init">
                <property name="mardaoParentDao" ref="subsetDao" />
	</bean>
	<bean id="ctxtDao" 
		class="com.wadpam.ricotta.dao.CtxtDaoBean"
                init-method="init">
                <property name="mardaoParentDao" ref="branchDao" />
	</bean>
	<bean id="transDao" 
		class="com.wadpam.ricotta.dao.TransDaoBean"
                init-method="init">
                <property name="mardaoParentDao" ref="projLangDao" />
	</bean>
	<bean id="roleDao" 
		class="com.wadpam.ricotta.dao.RoleDaoBean"
                init-method="init">
	</bean>
	<bean id="subsetDao" 
		class="com.wadpam.ricotta.dao.SubsetDaoBean"
                init-method="init">
                <property name="mardaoParentDao" ref="branchDao" />
	</bean>
	<bean id="appUserDao" 
		class="com.wadpam.ricotta.dao.AppUserDaoBean"
                init-method="init">
	</bean>
	

</beans>