<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<security:http use-expressions="true" entry-point-ref="gaeEntryPoint">
		<security:intercept-url pattern="/" filters="none" />
		<security:intercept-url pattern="/index.html" filters="none" />
		<security:intercept-url pattern="/logout.html" filters="none" />
		<security:intercept-url pattern="/loggedout.html" filters="none" />
		<security:intercept-url pattern="/_ah/**" filters="none" />
		<security:intercept-url pattern="/static/**" filters="none" />
		<!-- For generating calls -->
		<security:intercept-url pattern="/proj/**/branch/**/lang/**/templ/**" filters="none" />
		<security:intercept-url pattern="/projects/**/languages/**/templates/**" filters="none" />
		<!-- For queued worker calls -->
		<security:intercept-url pattern="/blobWorker.html" filters="none" />
		<security:intercept-url pattern="/tokensWorker.html" filters="none" />
		<security:intercept-url pattern="/projects/**/patch1Worker.html" filters="none" />
		<!-- Remaining resources should be authenticated -->
		<security:intercept-url pattern="/**"
			access="hasRole('USER')" />
		<security:custom-filter position="PRE_AUTH_FILTER"
			ref="gaeFilter" />
		<!-- 
		<security:remember-me key="ricotta_top_secret"/>
		 -->
	</security:http>

	<bean id="gaeEntryPoint"
		class="com.wadpam.ricotta.gae.GoogleAccountsAuthenticationEntryPoint" />

	<bean id="gaeFilter" class="com.wadpam.ricotta.gae.GaeAuthenticationFilter">
		<property name="authenticationManager" ref="authenticationManager" />
	</bean>

	<security:authentication-manager alias="authenticationManager">
		<security:authentication-provider
			ref="gaeAuthenticationProvider" />
	</security:authentication-manager>

	<bean id="gaeAuthenticationProvider"
		class="com.wadpam.ricotta.gae.GoogleAccountsAuthenticationProvider">
		<property name="appUserDao" ref="appUserDao" />
	</bean>
</beans>