/* added by f94os */
.ui-widget-content td, .ui-widget-header th { border: 1px solid #eeeeee; padding: .6em 10px; text-align: left; }

.ui-widget-content tfoot td, .default-trans { border: 1px solid #eeeeee; padding: .6em 10px; text-align: left; background: #f0f0f0; }

#projectTiles { width: 100%; }
#tileContexts { width: 15%; }
#tileTokens { width: 70%; }
#tileLanguages { width: 15%; }

#contexts { width: 100%; }
#thContexts { width: 100%; }

#tokens { width: 100%; }
#thToken { width: 27%; }
#thDescr { width: 28%; }
#thTrans { width: 55%; }

#languages { width: 100%; }
#thLanguages { width: 100%; }

.ricotta-text-small { font-size: smaller; }

.footer {
	clear:both;
	margin-top:0;
}
.modal-body textarea{
	width:98%;
}
.link {
	cursor: pointer;
}
.modal-body .input_error {
	border: 1px solid #B94A48;
}
#preview{
	position:absolute;
	border:1px solid #ccc;
	background:#eee;
	padding:5px;
	display:none;
	color:#000;
}
.modal-body span#ajaxloader {
	width: 25px;
	height: 25px;
	background: url('img/ajax_loader.gif');
	background-repeat: no-repeat;
	vertical-align: middle;
	display:none;
}
#ricotta_contents {
	min-height: 100px;
	margin-top: 41px;
}
#toast{
	width: 100%;
	text-align:center;
}