@CHARSET "UTF-8";

body {
	font-family: "Liberation Sans", sans-serif;
}

table {
	border-style: solid;
	border-color: gray;
	border-width: 1px;
	width: 95%;
}

thead {
	background-color: #E0FFE0;
}

th {
	text-align: left;
}

.pageHeading {
	font-size: larger;
	background-color: lightgray;
}

.evenRowtrue {
	background-color: #F0F0F0;
}

.evenRowfalse {
	background-color: #FCFCFC;
}